.booking-prompt{
    padding: 30px 0px 0px 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
}

.bg {
    background-color: #F8F8F8;
    min-height: 91vh;
}

.delete-btn{
    margin-top: 15px;
    margin-left: 20px;
}

.review-btn{
    margin-top: 15px;
    background-color: #055b1a;
    border-color: #055b1a;
}

.review-btn:hover{
     background-color: #0b932d
}